@import "~bootstrap/scss/bootstrap";
.navbar {
  box-shadow: 1px 0.5px 4px #011936;
  /* background: rgba(0, 56, 118, 0.3); */
}
.navbar-brand {
  /* color: #86bbd8; */
}
.fa-shopping-cart {
  /* color: #86bbd8; */
}

.badge-cart {
  background-color: darkred;
  color: white;
  position: relative;
  top: -6px;
  left: -4px;
}
