.table-wrapper {
  margin: 0 5% 0 5%;
  overflow-x: scroll;
}

table {
  width: 100%;
}

th {
  color: rgb(82, 82, 82);
}

.meeting-time-block {
  font-size: 12px;
  background-color: #2e6191;
  color: white;
  border-width: 30px;
  border-radius: 7px 0px 0px 7px;
  padding: 4px;
}

.week-code-block {
  font-size: 12px;
  background-color: #424242;
  color: white;
  border-width: 20px;
  border-radius: 0px 7px 7px 0px;
  padding: 4px;
}

.not-available-block {
  font-size: 12px;
  background-color: darkgoldenrod;
  color: white;
  border-width: 20px;
  border-radius: 7px;
  padding: 4px;
}

table td {
  vertical-align: middle !important;
  word-wrap: break-word;
}

.meeting-times {
  display: inline-block;
}
