/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100vh;
  background-color: #f7f7f7 !important;
  margin-right: 10px !important;
  margin-left: 10px !important;
}
