@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/_variables.scss';

.server-unreacheable {
  margin-right: 0px;
  margin-left: 0px;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #424242;
}

input {
  border: 1px solid #2e6191 !important;
}

input::-webkit-input-placeholder {
  color: #2e6191 !important;
}

input:-moz-placeholder {
  /* Firefox 18- */
  color: #2e6191 !important;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  color: #2e6191 !important;
}

input:-ms-input-placeholder {
  color: #2e6191 !important;
}

input,
ss-multiselect-dropdown {
  background-color: #e4e2e259 !important;
}

.fa {
  font-size: 17px;
}

.modal-title {
  text-align: center;
  color: #424242;
  font-size: 40px;
}

.modal-content {
  background-color: #f7f7f7;
  border-radius: 10px;
}
