@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/_variables.scss';

.server-unreacheable {
  margin-right: 0px;
  margin-left: 0px;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #424242;
}

input {
  border: 1px solid #2e6191 !important;
}

input::-webkit-input-placeholder {
  color: #2e6191 !important;
}

input:-moz-placeholder {
  /* Firefox 18- */
  color: #2e6191 !important;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  color: #2e6191 !important;
}

input:-ms-input-placeholder {
  color: #2e6191 !important;
}

.form-control,
ss-multiselect-dropdown {
  background-color: #e4e2e259 !important;
}

// Breakpoint to change CSS based on screen size
// @media (max-width: 992px) {
//   // .week-code-block,
//   // .meeting-time-block,
//   // .not-available-block {
//   //   font-size: 8px;
//   // }
//   .additional {
//     display: none;
//   }
// }
