<!-- Info modal template -->
<ng-template #content let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Info
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Hey there. This app was created because I think that the Bannerweb search
      function for classes
      <strong>could use some improvement</strong>
      and I hope that this app can provide a good alternative.
    </p>
    <p>
      With that being said,
      <strong>
        Bannerweb is the only reliable source of information regarding classes.
      </strong>
      Please use this app, but also please check that the information you get
      here is correct sooner than 10 minutes before class selection. I will do
      my best to keep this site up to date.
    </p>
    <p>
      This site is not affiliated with the University of Richmond.
    </p>
    <p>
      Finally, please feel free to contact me with any bugs / suggestions.
    </p>
    <p>
      <strong>Email:</strong>
      jack.ditto@richmond.edu
    </p>
    <p>
      <strong>Digits:</strong>
      (601) 874-9522
    </p>
    <p>
      <strong>Classes Last Updated:</strong>
      {{ dateLastUpdated }}
    </p>
  </div>
  <div class="modal-footer"></div>
</ng-template>
<!-- Popup if backend server is unreacheable -->
<div
  class="alert alert-warning text-center server-unreacheable"
  *ngIf="serverUnreacheable"
>
  <a
    (click)="serverUnreacheable = false"
    class="close"
    data-dismiss="alert"
    aria-label="close"
  >
    &times;
  </a>
  <strong>Attention:</strong>
  There was an error connecting to the backend server.
  <!-- You can show test data here to see how the app works
    <button
        class="btn btn-outline-dark ml-3"
        (click)="onClickTestData()"
    >
        Test Data
    </button> -->
</div>

<div class="main">
  <!-- ----------------- HEADING -------------------- -->
  <h1 class="display-3 text-center heading mb-0 text-primary">
    Welcome to UR Class Finder.
  </h1>
  <h3 class="text-muted display-5 text-center pb-3 sub">
    <small>
      It's so much better than the Bannerweb one.
      <a>
        <i
          class="fa fa-info-circle fa-xs"
          (click)="open(content)"
          aria-hidden="true"
        ></i>
      </a>
    </small>
  </h3>

  <!-- ---------------- SEARCH FORM ----------------- -->

  <form class="search-form" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <input
      id="className"
      type="text"
      class="search-input"
      placeholder="Class Name"
      ngModel
      name="className"
      size="17"
    />
    <input
      id="crn"
      type="text"
      class="search-input"
      placeholder="CRN"
      ngModel
      name="crn"
      size="10"
    />
    <span class="divider-2"></span>
    <input
      id="professor"
      type="text"
      class="search-input"
      placeholder="Professor"
      ngModel
      name="professor"
      size="17"
    />
    <ss-multiselect-dropdown
      id="department"
      name="department"
      ngModel
      [options]="dropdownOptions"
      [texts]="dropdownTextsSettings"
      [settings]="dropdownRegSettings"
      [(ngModel)]="dropdownSelectedValues"
    ></ss-multiselect-dropdown>
    <span class="divider"></span>
    <button class="search-form__btn search-form__submit-btn" type="submit">
      Search
    </button>
    <span class="divider"></span>
    <button
      class="search-form__btn search-form__planner-btn"
      [disabled]="cartIsEmpty()"
      routerLink="/planner"
    >
      Go to Planner
    </button>
  </form>

  <app-table
    [classes]="classes"
    (addButtonClicked)="addToCart($event)"
    (removeButtonClicked)="removeFromCart($event)"
  ></app-table>
  <!-- Placeholder text before data is loaded by search -->
  <h4
    class="text-center text-muted display-5"
    *ngIf="classes.length == 0 && !fetchingData"
  >
    <small>Search above to find classes...</small>
  </h4>

  <!-- Loading spinner -->
  <h4 class="text-center text-muted display-5" *ngIf="fetchingData">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </h4>
</div>
