@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/_variables.scss";

html,
body {
  height: 100vh;
  background-color: #f7f7f7;
  margin-right: 10px;
  margin-left: 10px;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #424242;
}

input {
  border: 1px solid #2e6191 !important;
}

input::-webkit-input-placeholder {
  color: #2e6191 !important;
}

input:-moz-placeholder {
  /* Firefox 18- */
  color: #2e6191 !important;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  color: #2e6191 !important;
}

input:-ms-input-placeholder {
  color: #2e6191 !important;
}

.form-control,
ss-multiselect-dropdown {
  background-color: #e4e2e259;
}

th {
  color: rgb(82, 82, 82);
}

.meeting-time-block {
  font-size: 12px;
  background-color: #2e6191;
  color: white;
  border-width: 30px;
  border-radius: 7px 0px 0px 7px;
  padding: 4px;
}

.week-code-block {
  font-size: 12px;
  background-color: #424242;
  color: white;
  border-width: 20px;
  border-radius: 0px 7px 7px 0px;
  padding: 4px;
}

.not-available-block {
  font-size: 12px;
  background-color: darkgoldenrod;
  color: white;
  border-width: 20px;
  border-radius: 7px;
  padding: 4px;
}

table td {
  vertical-align: middle !important;
}

.meeting-times {
  display: inline-block;
}

// Breakpoint to change CSS based on screen size
// @media (max-width: 992px) {
//   // .week-code-block,
//   // .meeting-time-block,
//   // .not-available-block {
//   //   font-size: 8px;
//   // }
//   .additional {
//     display: none;
//   }
// }
